/*  RESET BÁSICO */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.logo {
    width: 100px;
    height: 70px;
}
.icon {
    
    display: flex;
    gap: 20px;      /* distância entre as imagens */
    margin-right: 2rem;
}

.icon img {
    width: 26px;
}

.cabecalho {
    background: black;
    padding: 20px;
}

.cabeçalho:hover {
    cursor: pointer;
    color: #000000;
}

.cabecalho-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    align-items: center;
}

.cabecalho-menu {
    list-style: none;
    display: flex;
    margin-left: 20rem;

}

.cabecalho-menu li {
    margin-left: 2rem;
    

}

.cabecalho-menu a {
    color: white;
    text-decoration: none;
}

.banner {
    background-image: url(../assets/Game6.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* PSEUDO ELEMENTO QUE REALIZA UMA AÇÃO ANTES OU DEPOIS */
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner-conteudo {
    width: 600px;
    position: relative;
    z-index: 2;
}

.banner-titulo {
    font-size: 3rem;
    margin-bottom: 20px;

}

.banner-descricao {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.banner-assistir {
    background: #e50914;
    padding: 10px 30px;
    border-radius: 20px;
    color: #fff;
    border: none;
    margin: 0 10px;
}

.banner-assistir:hover {
    box-shadow: 5px 5px 8px black;
    transition: 0.5s;
    transform: scale(110%);
    cursor: pointer;
}

.sessao-filmes {
    padding: 20px;
}

.filme-titulo {
    font-size: 2rem;
    margin-bottom: 20px;
}

.carrossel {
    position: relative;
    overflow: hidden;
}

.carrossel img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.carrossel-lista {
    display: flex;
    transition: transform 0.5s ease-in-out;

}

.carrossel-item {
    width: 200px;
    padding: 10px;
}

.btn-carrossel {
    position: absolute;
    top: 50%;
    transition: translateY(-50%);
    border: none;
    background: rgba(0, 0, 0, 0.5);
    color: yellow;
    padding: 10px;
    cursor: pointer;
}

.btn-anterior {
    left: 0;
}

.btn-proximo {
    right: 0;
}

footer {
    background: #000;
    padding: 20px;
    text-align: center;
}

/* perfis */
header {
    width: 100%;
    height: 70px;
    background: #1A1D1F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    /* Adicionado para controlar o espaçamento */
}

#logo {
    width: 100px;
    height: 50px;
    border-radius: 20px;
}

.btn {
    width: 100px;
    height: 40px;
    font-weight: bold;
    border-radius: 20px;
    background: #F2A341;
    color: #000;
    border: none;
    cursor: pointer;
}
